<html>
    <body>
        <h1>Cadastro de Livros</h1>

        <form action="/livros" method="post">

            <div if(data.livro.id)>
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" id="id" value="${data.livro.id}" name="id" />
            </div>

            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" name="titulo" value="${data.livro.titulo}" id="titulo" placeholder="Titulo do livro">
            </div>
            <div>
                <label for="url">URL:</label>
                <input type="text" id="url" value="${data.livro.url}" name="url"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" id="descricao" name="descricao">${data.livro.descricao}</textarea>
            </div>

            <button type="submit">Salvar</button>
        </form>
    </body>
</html>